:root {
  --background--color: #faf3e0;
  --font--main-color: #333333;
  --font--second-color: #faf3e0;
  --navigation-bg-color: #026258;
  --border-segment: 3px solid #333333;
  --font-family: 'Raleway', sans-serif;
  --font-header-size: 30px;
  --font-body-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  background-color: var(--background--color);
  color: var(--font--color);
}

/* Navigation Name */
#navBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  padding: 15px;
  background-color: var(--navigation-bg-color);
  color: var(--font--second-color);
  font-size: 48px;
  font-family: var(--font-family);
  border-bottom: var(--border-segment);
  width: 100%;
}

/* Icons for the website */
.icons {
  width: 32px;
  height: max-content;
}

/* Github icon */
.githubLink {
  padding-top: 20px;
  width: 40px;
  height: 40px;
}

/* Logo Name*/
.logo {
  font-weight: 700;
  font-size: var(--font-header-size);
  color: var(--font--second-color);
  text-decoration: none;
}
.navLinks {
  display: flex;
}

.navLinks ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navLinks ul li {
  margin: 0 10px;
}

/* Navigation links */
.navLinks ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--font--second-color);
  text-decoration: none;
  margin-left: 1rem;
}

/* hovering effect */
.navLinks ul :hover {
  color: #ffffffc4;
}

/* layout of the profile pic  */
#profile {
  margin: 0px 5%;
  display: flex;
  min-height: 500px;
  height: 30vh;
}

#profilePic {
  width: 120rem;
  height: 5rem;
  margin-right: 200px;
  min-height: 400px;
  border-radius: 10px;
  overflow: hidden;
  border: 7px solid #333333;
  padding: 5px;
}

/* profile pic image */
#profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About-me profile */
#aboutMe {
  font-size: 20px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font--color);
}

#aboutMe,
h2 {
  display: flex;
  flex-direction: column;
  font-size: var(--font-header-size);
  font-weight: 700;
  line-height: 1.2;
}

.about-container p {
  font-size: var(--font-body-size);
  margin: 20px 0 0px;
}

/* Buttons in the about me section */
.about-container .contact-btn {
  display: flex;
  padding-top: 20px;
  padding-right: 60px;
  justify-content: space-evenly;
  width: 250px;
  background: var(--background--color);
  gap: 20px;
}

.contact-btn a {
  color: var(--font--main-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90px;
  height: 40px;
  border: var(--border-segment);
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

/* Load up effect on the buttons */
.contact-btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #026258;
  transition: 0.5s;
  z-index: -1;
}

.contact-btn a:hover::before {
  width: 100%;
}

/* Targeting the github profile */
.contact-btn a:nth-child(2) {
  background: var(--navigation-bg-color);
  color: var(--font--second-color);
}

.contact-btn a:nth-child(2)::before {
  background: var(--background--color);
}

.contact-btn a:nth-child(2):hover {
  color: var(--font--main-color);
}

/*.............Portfolio section showcasing my work.............. */

#porfolio-work {
  background-color: var(--navigation-bg-color);
  color: var(--navigation-color);
  height: 35rem;
}

.portfolio-container {
  display: flex;
  justify-content: space-evenly;
}

.projects {
  text-decoration: none;
  padding: 24px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--background--color);
  height: 100%;
  width: 48%;
  border-radius: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font--color);
}

.projects img {
  height: 100%;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: var(--border-segment);
  transition: filter 0.3s ease;
}

.projects img:hover {
  /* expands the first project making it larger than others */
  transform: scale(1.5);
}

.portfolio-title h2 {
  display: flex;
  align-items: center;
  color: var(--font--second-color);
  padding: 20px;
  font-size: var(--font-header-size);
}

/*............More-Projects.............*/

.project-two {
  text-decoration: none;
  padding: 24px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--background--color);
  height: 100%;
  width: 48%;
  border-radius: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font--color);
}

.project-two img {
  height: 100%;
  width: 68%;
  border-radius: 10px;
  border: var(--border-segment);
  transition: filter 0.3s ease;
}

.project-two img:hover {
  filter: grayscale(100%);
}

.githubLink2 {
  padding-top: 20px;
  width: 40px;
  height: 40px;
}

/*.............Contact-Page..............*/

.contact {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 30rem;
  border: var(--border-segment);
  padding: 24px;
  border-radius: 30px;
}

.email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer p {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* Media Queries */

/* Small devices */
@media screen and (max-width: 480px) {
  :root {
    --font-header-size: 24px;
    --font-body-size: 14px;
  }

  /* profile picture */
  #profilePic {
    margin-right: 22px;
    padding: 5px;
    border-radius: 10px;
    border: 7px solid #333333;
  }

  /* About-us profile*/
  .about-container p {
    font-size: var(--font-body-size);
  }

  /* Adjust the navigation */
  #navBar {
    font-size: 24px;
    margin-bottom: 2rem;
  }

  /* Adjust the navigation links */
  .navLinks ul li a {
    font-size: 20px;
    margin-left: 0.5rem;
  }

  /* Adjust the contact buttons */
  .contact-btn a {
    font-size: 14px;
    width: 80px;
    height: 30px;
  }

  .projects,
  .project-two {
    width: 100%;
  }

  .projects img,
  .project-two img {
    width: 90%;
  }

  #porfolio-work {
    height: 16rem;
  }

  /* Adjust the footer */
  footer p {
    font-size: 14px;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px) {
  :root {
    --font-header-size: 22px;
    --font-body-size: 14px;
  }
  /* Navigation full name */
  .logo {
    font-size: var(--font-header-size);
  }

  /* profile picture */
  #profilePic {
    margin-right: 22px;
    padding: 5px;
    border-radius: 10px;
    border: 7px solid #333333;
  }

  /* About-us profile*/
  .about-container p {
    font-size: var(--font-body-size);
  }

  /* Adjust the navigation */
  #navBar {
    font-size: 24px;
    margin-bottom: 2rem;
  }

  /* Adjust the navigation links */
  .navLinks ul li a {
    font-size: 20px;
    margin-left: 0.5rem;
  }

  /* Adjust the contact buttons */
  .contact-btn a {
    font-size: 14px;
    width: 80px;
    height: 30px;
  }

  .projects,
  .project-two {
    margin: 5px;
  }

  .projects img,
  .project-two img {
    width: 90%;
  }

  #porfolio-work {
    height: 22rem;
  }
}
